pandas
numpy
sqlalchemy
psycopg2-binary
python-dotenv

nltk
fasttext
sentence_transformers
transformers
einops
torch
scikit-learn

spacy
ollama
deep-translator
tqdm
openpyxl

kmodes
seaborn
matplotlib

networkx
joblib
pygam